<ion-header>
  <ion-button [routerLink]="['/controller']" fill=clear slot="end">
    controller
  </ion-button>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Perfil</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          <h1>Bienvenido/a Profesor/a {{username}}</h1>
        </ion-card-title>
        <ion-card-subtitle>Perfil Profesor</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-input label="Nombre" type="text" placeholder="Ingrese nombre"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Apellidos" type="text" placeholder="Ingrese apellidos"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Edad" type="number" placeholder="Ingrese edad"></ion-input>
          </ion-item>
        </ion-list>
        <ion-button [routerLink]="['/qr-genera']" fill="outline">Ir a Generar QR</ion-button>

      </ion-card-content>
    </ion-card>
  </div>

  <ion-fab vertical="bottom" horizontal="start" style="margin: bottom 30px; ;">
    <ion-fab-button [routerLink]="['/inicio-profesor']">
      <ion-icon name="chevron-back"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>